body {
    /** childReplacement generalVar **/
    --color-primary: #0070a9;
    --color-secondary: #258199;
    --color-blue-1: #004b8e;
    --color-blue-2: #0c1153;
    --color-gray: #ececec;
    --color-gray-2: #e4e4e4;
    --color-gray-3: #5b5b5b;
    /** end childReplacement generalVar **/
}

/** childReplacement logoSizeCSS **/
header img,
header svg {
    width: 180px;
    height: 50px;
}
/** end childReplacement logoSizeCSS **/

/** childReplacement footerCSS **/
#wm_footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
    color: #fff;
}

.Footer-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.Footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.Footer-copy {
    font-size: .625rem;
    line-height: 1.4;
}

footer a {
    color: #000;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.Footer-link {
    font-size: .75rem;
    line-height: 1.125rem;
}
.Footer-socialIcons {
    display: flex;
    align-items: center;
}
.Footer-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #a7cde0;
}
.Footer-social {
    align-items: center;
}
.Footer-socialTitle {
    margin-right: 0.5rem;
    font-size: 12px;
}
.Footer-icon {
    display: block;
}
.Footer-icon:not(:last-child) {
    margin-right: 1rem;
}
.Footer-icon svg {
    height: 16px;
    fill: var(--color-primary);
    padding-top: 2px;
    margin: 2px auto;
    display: block;
}
#wm_footer > * {
    flex-basis: 100%;
}
@media (min-width: 48rem) {
    #wm_footer > .Footer-container {
        flex-basis: 48rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 68.6875rem) {
    #wm_footer > * {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #wm_footer > .Footer-container {
        flex-basis: 100%;
    }
    .Footer-link:not(:last-child) {
        padding-right: 0.75rem;
        margin-right: 0.75rem;
        border-right: 0.0625rem solid #fff;
    }
    footer a {
        color: #fff;
    }
}

@media only screen and (max-width: 68.6875rem) {
    #wm_footer {
        padding-top: 0;
        border-top: 0.25rem solid #56a1d5;
    }
    .Footer-container {
        padding-left: 0;
        padding-right: 0;
    }
    .Footer-top {
        flex-direction: column;
    }
    .Footer-socialTitle {
        display: none;
    }
    .Footer-social {
        justify-content: center;
        width: 100%;
    }
    .Footer-linksWrapper {
        background-color: #9dcee2;
        flex-direction: column;
        width: 100%;
        padding: 0.75rem 1rem 0;
        margin-bottom: 2rem;
    }
    .Footer-link {
        font-size: .875rem;
        line-height: 1.43;
        display: flex;
        margin-bottom: 0.75rem;
        border-right: none;
    }
    .Footer-copy {
        color: #9dcee2;
        text-align: center;
    }
}

/* Request a Consultation style override hotfix */
.apptRequest a.all.btn.fill {
    background: #3572A9;
    border-radius: 0;
}

/** end childReplacement footerCSS **/

/** childReplacement profileSchedulingMinHeight **/
min-height: 250px;
/** end childReplacement profileSchedulingMinHeight **/

/** childReplacement noApptAvailCSS **/
.no-appt-avail h4 {
    font-weight: 500;
    line-height: 25px;
    color: #222222;
    text-align: left;
    font-size: 18px;
    font-family: 'Lora';
    margin: 8px 0 16px;
  }
  
  .no-appt-avail a {
    color: #00338e;
    text-decoration: underline;
  }
  /** end childReplacement noApptAvailCSS **/